.light {
  --sys-primary: rgb(3 107 93);
  --sys-surface-tint: rgb(3 107 93);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(159 242 224);
  --sys-on-primary-container: rgb(0 32 27);
  --sys-secondary: rgb(114 92 12);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(255 224 135);
  --sys-on-secondary-container: rgb(35 26 0);
  --sys-tertiary: rgb(65 95 145);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(214 227 255);
  --sys-on-tertiary-container: rgb(0 27 62);
  --sys-error: rgb(186 26 26);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(255 218 214);
  --sys-on-error-container: rgb(65 0 2);
  --sys-background: rgb(245 251 247);
  --sys-on-background: rgb(23 29 27);
  --sys-surface: rgb(245 251 247);
  --sys-on-surface: rgb(23 29 27);
  --sys-surface-variant: rgb(218 229 225);
  --sys-on-surface-variant: rgb(63 73 70);
  --sys-outline: rgb(111 121 118);
  --sys-outline-variant: rgb(190 201 197);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(43 50 48);
  --sys-inverse-on-surface: rgb(236 242 239);
  --sys-inverse-primary: rgb(132 213 196);
  --sys-primary-fixed: rgb(159 242 224);
  --sys-on-primary-fixed: rgb(0 32 27);
  --sys-primary-fixed-dim: rgb(132 213 196);
  --sys-on-primary-fixed-variant: rgb(0 80 69);
  --sys-secondary-fixed: rgb(255 224 135);
  --sys-on-secondary-fixed: rgb(35 26 0);
  --sys-secondary-fixed-dim: rgb(226 196 109);
  --sys-on-secondary-fixed-variant: rgb(87 69 0);
  --sys-tertiary-fixed: rgb(214 227 255);
  --sys-on-tertiary-fixed: rgb(0 27 62);
  --sys-tertiary-fixed-dim: rgb(170 199 255);
  --sys-on-tertiary-fixed-variant: rgb(40 71 119);
  --sys-surface-dim: rgb(213 219 216);
  --sys-surface-bright: rgb(245 251 247);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(239 245 242);
  --sys-surface-container: rgb(233 239 236);
  --sys-surface-container-high: rgb(227 234 230);
  --sys-surface-container-highest: rgb(222 228 225);
  --md-extended-color-custom-color-color: rgb(58 96 143);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(211 227 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 28 57);
}
