<mat-toolbar class="toolbar" id="primary-toolbar">
  @if (isHandset$ | async) {
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer()?.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  }
  <span>Education Utilities</span>
  <!--<mat-slide-toggle (change)="switchTheme($event)">-->
  <!--  @if (theme === 'wave-theme') {-->
  <!--    Wave Theme-->
  <!--  } @else {-->
  <!--    Default Theme-->
  <!--  }-->
  <!--</mat-slide-toggle>-->

  <!--<button mat-button type="button" (click)="switchTheme2('default-theme')">Default</button>-->
  <!--<button mat-button type="button" (click)="switchTheme2('wave-theme')">Wave</button>-->
  <!--<button mat-button type="button" (click)="switchTheme2('pink-wave-theme')">Pink Wave</button>-->
</mat-toolbar>
