<div class="pane-actions-container small-icon-button">
  <a mat-icon-button
     class="pane-actions-icon-link"
     tabIndex="0"
     matTooltip="Close"
     matTooltipPosition="left"
     [routerLink]="['../../']"
  >
    <mat-icon class="pane-actions-icon">
      close
    </mat-icon>
  </a>
</div>

<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="nav-tab-nav-bar">
  @for (route of configurationRoutes(); track route) {
    <a
      mat-tab-link
      [routerLink]="['./', route.path]"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      tabIndex="0"
    >
      {{ route.name }}
    </a>
  }
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet/>
</mat-tab-nav-panel>
