.dark-medium-contrast.pink-wave-theme {
  --sys-primary: rgb(224 191 242);
  --sys-surface-tint: rgb(220 187 237);
  --sys-on-primary: rgb(35 10 51);
  --sys-primary-container: rgb(164 134 181);
  --sys-on-primary-container: rgb(0 0 0);
  --sys-secondary: rgb(255 244 229);
  --sys-on-secondary: rgb(64 45 0);
  --sys-secondary-container: rgb(246 195 91);
  --sys-on-secondary-container: rgb(32 20 0);
  --sys-tertiary: rgb(255 183 200);
  --sys-on-tertiary: rgb(53 0 20);
  --sys-tertiary-container: rgb(239 93 140);
  --sys-on-tertiary-container: rgb(0 0 0);
  --sys-error: rgb(255 180 229);
  --sys-on-error: rgb(49 0 40);
  --sys-error-container: rgb(226 95 193);
  --sys-on-error-container: rgb(0 0 0);
  --sys-background: rgb(21 19 22);
  --sys-on-background: rgb(231 225 229);
  --sys-surface: rgb(21 19 22);
  --sys-on-surface: rgb(255 249 251);
  --sys-surface-variant: rgb(75 69 77);
  --sys-on-surface-variant: rgb(210 200 210);
  --sys-outline: rgb(169 160 170);
  --sys-outline-variant: rgb(137 128 138);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(231 225 229);
  --sys-inverse-on-surface: rgb(44 41 44);
  --sys-inverse-primary: rgb(88 62 104);
  --sys-primary-fixed: rgb(244 218 255);
  --sys-on-primary-fixed: rgb(29 5 45);
  --sys-primary-fixed-dim: rgb(220 187 237);
  --sys-on-primary-fixed-variant: rgb(69 44 85);
  --sys-secondary-fixed: rgb(255 222 163);
  --sys-on-secondary-fixed: rgb(25 15 0);
  --sys-secondary-fixed-dim: rgb(241 191 87);
  --sys-on-secondary-fixed-variant: rgb(72 51 0);
  --sys-tertiary-fixed: rgb(255 217 224);
  --sys-on-tertiary-fixed: rgb(44 0 16);
  --sys-tertiary-fixed-dim: rgb(255 177 196);
  --sys-on-tertiary-fixed-variant: rgb(112 0 51);
  --sys-surface-dim: rgb(21 19 22);
  --sys-surface-bright: rgb(59 56 60);
  --sys-surface-container-lowest: rgb(16 13 16);
  --sys-surface-container-low: rgb(29 27 30);
  --sys-surface-container: rgb(33 31 34);
  --sys-surface-container-high: rgb(44 41 44);
  --sys-surface-container-highest: rgb(55 52 55);
  --synth-pink-color: rgb(255 183 200);
  --synth-pink-on-color: rgb(53 0 20);
  --synth-pink-color-container: rgb(239 93 140);
  --synth-pink-on-color-container: rgb(0 0 0);
  --synth-purple-color: rgb(224 191 242);
  --synth-purple-on-color: rgb(35 10 51);
  --synth-purple-color-container: rgb(164 134 181);
  --synth-purple-on-color-container: rgb(0 0 0);
  --synth-yellow-color: rgb(255 244 229);
  --synth-yellow-on-color: rgb(64 45 0);
  --synth-yellow-color-container: rgb(246 195 91);
  --synth-yellow-on-color-container: rgb(32 20 0);
  --synth-violet-color: rgb(255 180 229);
  --synth-violet-on-color: rgb(49 0 40);
  --synth-violet-color-container: rgb(226 95 193);
  --synth-violet-on-color-container: rgb(0 0 0);
  --synth-light-blue-color: rgb(255 255 255);
  --synth-light-blue-on-color: rgb(0 55 58);
  --synth-light-blue-color-container: rgb(26 234 246);
  --synth-light-blue-on-color-container: rgb(0 36 38);
}
