.light-high-contrast.pink-wave-theme {
  --sys-primary: rgb(22 1 39);
  --sys-surface-tint: rgb(111 84 128);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(58 34 74);
  --sys-on-primary-container: rgb(255 255 255);
  --sys-secondary: rgb(47 32 0);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(88 63 0);
  --sys-on-secondary-container: rgb(255 255 255);
  --sys-tertiary: rgb(75 0 32);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(135 2 63);
  --sys-on-tertiary-container: rgb(255 255 255);
  --sys-error: rgb(70 0 58);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(127 0 107);
  --sys-on-error-container: rgb(255 255 255);
  --sys-background: rgb(255 247 252);
  --sys-on-background: rgb(29 27 30);
  --sys-surface: rgb(255 247 252);
  --sys-on-surface: rgb(0 0 0);
  --sys-surface-variant: rgb(234 223 234);
  --sys-on-surface-variant: rgb(39 34 42);
  --sys-outline: rgb(71 65 73);
  --sys-outline-variant: rgb(71 65 73);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(50 47 51);
  --sys-inverse-on-surface: rgb(255 255 255);
  --sys-inverse-primary: rgb(249 230 255);
  --sys-primary-fixed: rgb(82 56 98);
  --sys-on-primary-fixed: rgb(255 255 255);
  --sys-primary-fixed-dim: rgb(59 34 75);
  --sys-on-primary-fixed-variant: rgb(255 255 255);
  --sys-secondary-fixed: rgb(88 63 0);
  --sys-on-secondary-fixed: rgb(255 255 255);
  --sys-secondary-fixed-dim: rgb(60 42 0);
  --sys-on-secondary-fixed-variant: rgb(255 255 255);
  --sys-tertiary-fixed: rgb(135 2 63);
  --sys-on-tertiary-fixed: rgb(255 255 255);
  --sys-tertiary-fixed-dim: rgb(95 0 42);
  --sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --sys-surface-dim: rgb(223 216 220);
  --sys-surface-bright: rgb(255 247 252);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(249 242 246);
  --sys-surface-container: rgb(243 236 240);
  --sys-surface-container-high: rgb(237 230 235);
  --sys-surface-container-highest: rgb(231 225 229);
  --synth-pink-color: rgb(75 0 32);
  --synth-pink-on-color: rgb(255 255 255);
  --synth-pink-color-container: rgb(135 2 63);
  --synth-pink-on-color-container: rgb(255 255 255);
  --synth-purple-color: rgb(22 1 39);
  --synth-purple-on-color: rgb(255 255 255);
  --synth-purple-color-container: rgb(58 34 74);
  --synth-purple-on-color-container: rgb(255 255 255);
  --synth-yellow-color: rgb(47 32 0);
  --synth-yellow-on-color: rgb(255 255 255);
  --synth-yellow-color-container: rgb(88 63 0);
  --synth-yellow-on-color-container: rgb(255 255 255);
  --synth-violet-color: rgb(70 0 58);
  --synth-violet-on-color: rgb(255 255 255);
  --synth-violet-color-container: rgb(127 0 107);
  --synth-violet-on-color-container: rgb(255 255 255);
  --synth-light-blue-color: rgb(0 39 41);
  --synth-light-blue-on-color: rgb(255 255 255);
  --synth-light-blue-color-container: rgb(0 75 79);
  --synth-light-blue-on-color-container: rgb(255 255 255);
}
