.light-medium-contrast.pink-wave-theme {
  --sys-primary: rgb(22 1 39);
  --sys-surface-tint: rgb(111 84 128);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(58 34 74);
  --sys-on-primary-container: rgb(245 221 255);
  --sys-secondary: rgb(88 63 0);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(150 110 2);
  --sys-on-secondary-container: rgb(255 255 255);
  --sys-tertiary: rgb(135 2 63);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(203 65 112);
  --sys-on-tertiary-container: rgb(255 255 255);
  --sys-error: rgb(116 0 98);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(165 42 140);
  --sys-on-error-container: rgb(255 255 255);
  --sys-background: rgb(255 247 252);
  --sys-on-background: rgb(29 27 30);
  --sys-surface: rgb(255 247 252);
  --sys-on-surface: rgb(29 27 30);
  --sys-surface-variant: rgb(234 223 234);
  --sys-on-surface-variant: rgb(71 65 73);
  --sys-outline: rgb(100 93 102);
  --sys-outline-variant: rgb(128 120 129);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(50 47 51);
  --sys-inverse-on-surface: rgb(246 239 243);
  --sys-inverse-primary: rgb(220 187 237);
  --sys-primary-fixed: rgb(134 106 151);
  --sys-on-primary-fixed: rgb(255 255 255);
  --sys-primary-fixed-dim: rgb(109 81 125);
  --sys-on-primary-fixed-variant: rgb(255 255 255);
  --sys-secondary-fixed: rgb(150 110 2);
  --sys-on-secondary-fixed: rgb(255 255 255);
  --sys-secondary-fixed-dim: rgb(119 86 0);
  --sys-on-secondary-fixed-variant: rgb(255 255 255);
  --sys-tertiary-fixed: rgb(203 65 112);
  --sys-on-tertiary-fixed: rgb(255 255 255);
  --sys-tertiary-fixed-dim: rgb(170 38 88);
  --sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --sys-surface-dim: rgb(223 216 220);
  --sys-surface-bright: rgb(255 247 252);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(249 242 246);
  --sys-surface-container: rgb(243 236 240);
  --sys-surface-container-high: rgb(237 230 235);
  --sys-surface-container-highest: rgb(231 225 229);
  --synth-pink-color: rgb(135 2 63);
  --synth-pink-on-color: rgb(255 255 255);
  --synth-pink-color-container: rgb(203 65 112);
  --synth-pink-on-color-container: rgb(255 255 255);
  --synth-purple-color: rgb(22 1 39);
  --synth-purple-on-color: rgb(255 255 255);
  --synth-purple-color-container: rgb(58 34 74);
  --synth-purple-on-color-container: rgb(245 221 255);
  --synth-yellow-color: rgb(88 63 0);
  --synth-yellow-on-color: rgb(255 255 255);
  --synth-yellow-color-container: rgb(150 110 2);
  --synth-yellow-on-color-container: rgb(255 255 255);
  --synth-violet-color: rgb(116 0 98);
  --synth-violet-on-color: rgb(255 255 255);
  --synth-violet-color-container: rgb(165 42 140);
  --synth-violet-on-color-container: rgb(255 255 255);
  --synth-light-blue-color: rgb(0 75 79);
  --synth-light-blue-on-color: rgb(255 255 255);
  --synth-light-blue-color-container: rgb(0 129 136);
  --synth-light-blue-on-color-container: rgb(255 255 255);
}
