.light.pink-wave-theme {
  --sys-primary: rgb(22 1 39);
  --sys-surface-tint: rgb(111 84 128);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(58 34 74);
  --sys-on-primary-container: rgb(205 173 223);
  --sys-secondary: rgb(122 89 0);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(255 207 111);
  --sys-on-secondary-container: rgb(84 60 0);
  --sys-tertiary: rgb(173 41 90);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(255 109 154);
  --sys-on-tertiary-container: rgb(45 0 16);
  --sys-error: rgb(116 0 98);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(165 42 140);
  --sys-on-error-container: rgb(255 255 255);
  --sys-background: rgb(255 247 252);
  --sys-on-background: rgb(29 27 30);
  --sys-surface: rgb(255 247 252);
  --sys-on-surface: rgb(29 27 30);
  --sys-surface-variant: rgb(234 223 234);
  --sys-on-surface-variant: rgb(75 69 77);
  --sys-outline: rgb(124 117 126);
  --sys-outline-variant: rgb(205 195 206);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(50 47 51);
  --sys-inverse-on-surface: rgb(246 239 243);
  --sys-inverse-primary: rgb(220 187 237);
  --sys-primary-fixed: rgb(244 218 255);
  --sys-on-primary-fixed: rgb(40 16 56);
  --sys-primary-fixed-dim: rgb(220 187 237);
  --sys-on-primary-fixed-variant: rgb(86 60 103);
  --sys-secondary-fixed: rgb(255 222 163);
  --sys-on-secondary-fixed: rgb(38 25 0);
  --sys-secondary-fixed-dim: rgb(241 191 87);
  --sys-on-secondary-fixed-variant: rgb(93 66 0);
  --sys-tertiary-fixed: rgb(255 217 224);
  --sys-on-tertiary-fixed: rgb(63 0 25);
  --sys-tertiary-fixed-dim: rgb(255 177 196);
  --sys-on-tertiary-fixed-variant: rgb(141 9 67);
  --sys-surface-dim: rgb(223 216 220);
  --sys-surface-bright: rgb(255 247 252);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(249 242 246);
  --sys-surface-container: rgb(243 236 240);
  --sys-surface-container-high: rgb(237 230 235);
  --sys-surface-container-highest: rgb(231 225 229);
  --synth-pink-color: rgb(173 41 90);
  --synth-pink-on-color: rgb(255 255 255);
  --synth-pink-color-container: rgb(255 109 154);
  --synth-pink-on-color-container: rgb(45 0 16);
  --synth-purple-color: rgb(22 1 39);
  --synth-purple-on-color: rgb(255 255 255);
  --synth-purple-color-container: rgb(58 34 74);
  --synth-purple-on-color-container: rgb(205 173 223);
  --synth-yellow-color: rgb(122 89 0);
  --synth-yellow-on-color: rgb(255 255 255);
  --synth-yellow-color-container: rgb(255 207 111);
  --synth-yellow-on-color-container: rgb(84 60 0);
  --synth-violet-color: rgb(116 0 98);
  --synth-violet-on-color: rgb(255 255 255);
  --synth-violet-color-container: rgb(165 42 140);
  --synth-violet-on-color-container: rgb(255 255 255);
  --synth-light-blue-color: rgb(0 105 111);
  --synth-light-blue-on-color: rgb(255 255 255);
  --synth-light-blue-color-container: rgb(104 245 255);
  --synth-light-blue-on-color-container: rgb(0 80 84);
}
