.multi-element-grid-cell-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  align-items: baseline;
  gap: var(--eu-icon-content-gap, 0.5em);

  .multi-element-grid-cell-input-container {
    mat-form-field {
      min-width: 100%;
    }
  }
}
