.config-section, .config-group {
  margin-bottom: var(--eu-content-section-gap);
  display: block;
}

.config-group {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.primary-config {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap:
    calc(var(--eu-config-grid-item-gap) / 2)
    var(--eu-config-grid-item-gap);
  align-items: baseline;
}

.config-toggles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;

  > .form-input {
    max-width: fit-content;
  }
}

.color-config {
  display: grid;
  gap: var(--eu-config-grid-item-gap);
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}
