@use '@angular/material' as mat;
@use '../../../m3-theme' as m3-theme;

.number-table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // TODO: May want to use grid instead and dynamically updated the grid configuration.
  .num-box {
    flex-basis: calc(100% / 11);
    width: 40px;
    height: 40px;
    border: 1px solid mat.get-theme-color(m3-theme.$light-theme, tertiary);
  }
}
