<div class="ignore-print">
  @defer (on immediate) {
    <app-document-actions (print)="print()" (downloadPdf)="downloadPdf()" (save)="save()" (reset)="resetConfig()"></app-document-actions>
  }

  <mat-accordion class="config-section">
    <mat-expansion-panel [expanded]="true" [togglePosition]="'before'">

      <!-- Panel Header. -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Table configuration
        </mat-panel-title>
        <!--<mat-panel-description></mat-panel-description>-->
      </mat-expansion-panel-header>

      <!-- Expansion Panel Content. -->
      <ng-template matExpansionPanelContent>
        <form [formGroup]="numberTableConfigForm" class="config-form">
          <div class="primary-config config-group">
            <mat-form-field>
              <mat-label>Start</mat-label>
              <input id="number-start-input" matInput type="number" formControlName="start">
            </mat-form-field>
            <mat-form-field>
              <mat-label>End</mat-label>
              <input id="number-end-input" matInput type="number" formControlName="end">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Count By</mat-label>
              <input id="number-countBy-input" matInput type="number" formControlName="countBy">
              <mat-error>
                @if (numberTableConfigForm.controls.countBy.errors; as errors) {
                  @if (errors['required']) {
                    'Count By' is required.
                  } @else if (errors[errorKeys.isNotValue]) {
                    {{errors[errorKeys.isNotValue]}}
                  }
                }
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Columns</mat-label>
              <input id="number-columns-input" matInput type="number" formControlName="columns" min="1">
            </mat-form-field>
            <mat-slide-toggle formControlName="showHiddenValues" id="number-table-show-hidden-values">Show hidden values</mat-slide-toggle>
            <div class="grid-column-spacer"></div>
            <eu-randomize-hidden-elements
              class="two-column-width"
              [tableConfig]="tableConfig()"
              (updateTableValues)="updateHiddenRandomValues($event)">
            </eu-randomize-hidden-elements>
          </div>

          <div class="color-config config-group">
            @for(control of numberTableConfigForm.controls.colors.controls; track $index) {
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Column {{$index + 1}}</mat-label>
                <input type="color" matInput [formControl]="control">
              </mat-form-field>
            }
          </div>

          @if (numberTableConfigForm.errors; as errors) {
            <mat-error>
              @if (errors['countBy']) {
                {{errors['countBy']}}
              }
            </mat-error>
          }
        </form>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>

@defer (on idle) {
  <app-number-grid [gridConfig]="tableConfig()"></app-number-grid>
}
