<!-- TODO: See if calling the signal this way is not performance optimal. -->
@if (tableConfig(); as config) {
  <mat-grid-list [cols]="config.columns" rowHeight="40px" class="number-table-container print-area">
    @for(num of config.values; track idx; let idx = $index) {
      <mat-grid-tile class="num-box"
                     [style.background-color]="config.colors.at(idx % config.columns) ?? 'inherit'"
                     [ngClass]="getTileClass(idx)"
                     [colspan]="1"
                     [rowspan]="1">
        @if (config.showHiddenValues || !num.checked) {
          <span [ngClass]="{ 'ignore-print': num.checked }">{{num.value}}</span>
        }
        <input
          type="checkbox" [id]="'show-hide-checkbox' + idx"
          class="show-hide-number ignore-print"
          [(ngModel)]="num.checked"
          (ngModelChange)="valueUpdated(idx, { value: num.value, checked: $event })"
          [matTooltip]="'When checked, this cell value will be hidden when printing. Currently ' + (num.checked ? 'hidden' : 'visible') + '.'"
          matTooltipPosition="above"
          aria-label="When checked, this cell value will be hidden when printing."
        >
      </mat-grid-tile>
    }
  </mat-grid-list>
}
