:root {
  --synth-purple: rgb(44, 20, 60); /* #2c143c */
  --synth-yellow: rgb(251, 200, 95); /* #fbc85f */
  --synth-pink: rgb(243, 96, 143); /* #f3608f */
  --synth-violet: rgb(147, 22, 124); /* #93167c */
  --synth-light-blue: rgb(47, 242, 254); /* #2ff2fe */
}
