@defer (on immediate; prefetch on viewport) {
  <!-- https://stackblitz.com/run?file=src%2Fexample%2Fsidenav-responsive-example.html&file=src%2Fexample%2Fsidenav-responsive-example.css -->

  <!-- TODO: autosize has potential performance implications. Maybe replace with just slim. -->
  <!-- TODO: https://material.angular.io/components/sidenav/overview#resizing-an-open-sidenav -->
  <mat-sidenav-container class="sidenav-container" [autosize]="shouldAutosize()">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      id="sidenav"
      [ngClass]="{ 'slim': sidenavStyle() === 'slim' }"
    >
      @defer (on idle) {
        <app-main-sidenav [routes]="routes"></app-main-sidenav>
      }
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
      @if (showAppTitleBar()) {
        @defer(on idle; when showAppTitleBar()) {
          <app-main-toolbar [drawer]="drawer"></app-main-toolbar>
        }
      }
      <!-- Add Content Here -->
      <main id="main">
        @defer (on immediate; prefetch on immediate) {
          <router-outlet></router-outlet>
        }
      </main>
      @if (settings().clippy | globalSettingEnabled) {
        @defer(on idle) {
          <app-clippy class="ignore-print"></app-clippy>
        }
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
} @placeholder (minimum 1s) {
  <app-loader></app-loader>
}
