.sidenav-container {
  height: 100%;
}

.sidenav {
  &.slim {
    --eu-sidebar-width: var(--eu-sidebar-slim-width);
  }

  width: var(--eu-sidebar-width, 200px);
  // background-color: var(--sys-inverse-on-surface);
  background-color: var(--mat-sys-inverse-on-surface);
  box-sizing: border-box;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#main {
  margin: 0 0 0 8px;
}
