<mat-form-field class="person-selector-control">
  <mat-label>Select {{personType() | titlecase}}</mat-label>
  <input #filterNameInput
         type="text"
         autocomplete="off"
         matInput
         [placeholder]="(personType() | titlecase) + ' Name'"
         [attr.aria-label]="'Select a ' + personType() + ' to edit.'"
         [formControl]="personSelectorFormControl"
         [matAutocomplete]="auto"
         (input)="filter()"
         (focus)="filter()">
  <button mat-icon-button (click)="clear($event)" matIconSuffix>
    <mat-icon>
      close
    </mat-icon>
  </button>
  <mat-autocomplete
    requireSelection
    autoActiveFirstOption
    [displayWith]="displayPersonName"
    #auto="matAutocomplete">
    <!-- TODO: Make sure updates trigger when tracking by id, and across components. -->
    @for (person of filteredPeople(); track person.id) {
      <mat-option [value]="person">{{person.name}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
