<mat-nav-list aria-label="Navigation for different utilities.">
  @for(route of routes(); track route.path) {
    <a
      mat-list-item
      [routerLink]="route.path"
      routerLinkActive
      #rla="routerLinkActive"
      [activated]="rla.isActive"
      ariaCurrentWhenActive="page"
      class="navigation-link">
      <!--[routerLinkActiveOptions]="{ exact: true }"-->
      <span class="navigation-link-contents">
        <mat-icon aria-hidden="false" [attr.aria-label]="route.name">
          {{route.icon}}
        </mat-icon>
        @if (sidenavService.style() !== 'slim') {
          {{route.name}}
        }
      </span>
    </a>
  }
</mat-nav-list>
