<mat-nav-list aria-label="Navigation for different utilities." class="side-nav-list">
  <div class="utility-links">
    @for(route of routes(); track route.path) {
      <a
        mat-list-item
        [routerLink]="route.path"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        [matTooltip]="sidenavService.style() === 'slim' ? route.name : ''"
        matTooltipPosition="right"
        ariaCurrentWhenActive="page"
        class="navigation-link">
        <!--[routerLinkActiveOptions]="{ exact: true }"-->
        <span class="navigation-link-contents">
          <mat-icon aria-hidden="false" [attr.aria-label]="route.name">
            {{route.icon}}
          </mat-icon>
          @if (sidenavService.style() !== 'slim') {
            {{route.name}}
          }
        </span>
      </a>
    }
  </div>
  <div class="sidebar-lower-content">
    <!-- Feedback Icon/Button -->
    <div class="feedback-container">
      @if (sidenavService.style() !== 'slim') {
        <button
          mat-flat-button
          (click)="openFeedbackDialog()"
          class="feedback-button">
          <mat-icon class="feedback-icon"
                    aria-hidden="false"
                    aria-label="Submit feedback">
            feedback
          </mat-icon>
          <span class="feedback-text">Feedback</span>
        </button>
      } @else {
        <button
          mat-icon-button
          matTooltip="Feedback"
          matTooltipPosition="right"
          (click)="openFeedbackDialog()"
          class="feedback-button">
          <mat-icon class="feedback-icon"
                    aria-hidden="false"
                    aria-label="Submit feedback">
            feedback
          </mat-icon>
        </button>
      }
    </div>

    <!-- Version Info -->
    <div class="version-info">
      @if (sidenavService.style() !== 'slim') {
        <div class="inline-version-info">
          <button
                  class="unstyled-button"
                  aria-label="Click to copy version information."
                  (click)="copyVersionInformation()"
                  matTooltip="Click to copy version information."
                  matTooltipPosition="after">
            <div class="small-version-info">
              Version: {{appVersionService.version().appVersion.gitVersion}}
            </div>
            <div class="small-version-info">
              Build Date: {{appVersionService.version().appVersion.buildDate}}
            </div>
          </button>
        </div>
      } @else {
        <button
                mat-icon-button
                [attr.aria-label]="appVersionService.multiLineVersionMessageClickToCopy()"
                (click)="copyVersionInformation()"
                [matTooltip]="appVersionService.multiLineVersionMessageClickToCopy()"
                matTooltipPosition="after"
                matTooltipClass="multi-line-tooltip skip-line-wrap">
          <mat-icon class="version-icon"
                    aria-hidden="false"
                    [attr.aria-label]="appVersionService.versionMessage()">
            info
          </mat-icon>
        </button>
      }
    </div>
  </div>
</mat-nav-list>
