:host {
  $margin-spacing: 2.2em;

  height: calc(100vh - #{$margin-spacing * 2});
  max-height: calc(100vh - #{$margin-spacing * 2});
  width: 100%;
  display: flex;
}

.notes-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: space-between;

  .notes-container {
    overflow-y: auto;
  }
}

.note-form-container {
  position: sticky;
}

.note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  .note-control {
    width: calc(100% - 2em);
    margin: 0 1em;
  }
}

.show-notes-table {
  opacity: 0;
  transition: 500ms;

  &:hover {
    opacity: 1;
  }
}

.button-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;

  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
