:host {
  $margin-spacing: 2.2em;

  height: calc(100vh - #{$margin-spacing * 2});
  max-height: calc(100vh - #{$margin-spacing * 2});
  width: 100%;
  display: flex;
}

.notes-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: space-between;

  .notes-container {
    overflow-y: auto;
    flex: auto;
  }
}

.note-form-container {
  position: sticky;

  .save-note-button {
    &:focus:not(:active) {
      border: 2px solid var(--mat-sys-primary-fixed);
    }
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  .note-control {
    width: calc(100% - 2em);
    margin: 0 1em;
  }
}

.show-notes-table {
  opacity: 0;
  transition: 500ms;

  &:hover {
    opacity: 1;
  }
}

.timestamp-column {
  width: 220px;
}

.actions-column {
  width: 160px;

  &.show-trash {
    width: 120px;
  }
}

td.actions-column.show-trash {
  .actions-buttons-container {
    margin: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 4px;
  }
}

.button-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
