<div class="document-actions ignore-print">
  <button mat-flat-button type="button" (click)="printDocument()" id="print-button">
    <mat-icon aria-hidden="false" aria-label="Click to print this chart." fontIcon="print"></mat-icon>
    Print
  </button>

  <button mat-flat-button type="button" (click)="resetData()" id="reset-button">
    <mat-icon aria-hidden="false" aria-label="Reset current configuration/chart with default values." fontIcon="restart_alt"></mat-icon>
    Reset
  </button>
</div>
