.dark-high-contrast.wave-theme {
  --sys-primary: rgb(255 249 251);
  --sys-surface-tint: rgb(224 184 246);
  --sys-on-primary: rgb(0 0 0);
  --sys-primary-container: rgb(228 188 250);
  --sys-on-primary-container: rgb(0 0 0);
  --sys-secondary: rgb(255 250 247);
  --sys-on-secondary: rgb(0 0 0);
  --sys-secondary-container: rgb(240 197 112);
  --sys-on-secondary-container: rgb(0 0 0);
  --sys-tertiary: rgb(255 249 249);
  --sys-on-tertiary: rgb(0 0 0);
  --sys-tertiary-container: rgb(252 182 227);
  --sys-on-tertiary-container: rgb(0 0 0);
  --sys-error: rgb(255 249 249);
  --sys-on-error: rgb(0 0 0);
  --sys-error-container: rgb(255 183 200);
  --sys-on-error-container: rgb(0 0 0);
  --sys-background: rgb(22 18 23);
  --sys-on-background: rgb(233 224 232);
  --sys-surface: rgb(22 18 23);
  --sys-on-surface: rgb(255 255 255);
  --sys-surface-variant: rgb(75 69 77);
  --sys-on-surface-variant: rgb(255 249 251);
  --sys-outline: rgb(210 200 210);
  --sys-outline-variant: rgb(210 200 210);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(233 224 232);
  --sys-inverse-on-surface: rgb(0 0 0);
  --sys-inverse-primary: rgb(59 28 79);
  --sys-primary-fixed: rgb(246 223 255);
  --sys-on-primary-fixed: rgb(0 0 0);
  --sys-primary-fixed-dim: rgb(228 188 250);
  --sys-on-primary-fixed-variant: rgb(37 5 58);
  --sys-secondary-fixed: rgb(255 227 179);
  --sys-on-secondary-fixed: rgb(0 0 0);
  --sys-secondary-fixed-dim: rgb(240 197 112);
  --sys-on-secondary-fixed-variant: rgb(32 20 0);
  --sys-tertiary-fixed: rgb(255 222 240);
  --sys-on-tertiary-fixed: rgb(0 0 0);
  --sys-tertiary-fixed-dim: rgb(252 182 227);
  --sys-on-tertiary-fixed-variant: rgb(47 3 39);
  --sys-surface-dim: rgb(22 18 23);
  --sys-surface-bright: rgb(60 56 62);
  --sys-surface-container-lowest: rgb(16 13 18);
  --sys-surface-container-low: rgb(30 26 32);
  --sys-surface-container: rgb(34 30 36);
  --sys-surface-container-high: rgb(45 40 46);
  --sys-surface-container-highest: rgb(56 51 57);
  --synth-pink-color: rgb(255 249 249);
  --synth-pink-on-color: rgb(0 0 0);
  --synth-pink-color-container: rgb(255 183 200);
  --synth-pink-on-color-container: rgb(0 0 0);
  --synth-purple-color: rgb(255 249 251);
  --synth-purple-on-color: rgb(0 0 0);
  --synth-purple-color-container: rgb(228 188 250);
  --synth-purple-on-color-container: rgb(0 0 0);
  --synth-yellow-color: rgb(255 250 247);
  --synth-yellow-on-color: rgb(0 0 0);
  --synth-yellow-color-container: rgb(240 197 112);
  --synth-yellow-on-color-container: rgb(0 0 0);
  --synth-violet-color: rgb(255 249 249);
  --synth-violet-on-color: rgb(0 0 0);
  --synth-violet-color-container: rgb(252 182 227);
  --synth-violet-on-color-container: rgb(0 0 0);
}
