.light-medium-contrast.wave-theme {
  --sys-primary: rgb(85 53 106);
  --sys-surface-tint: rgb(114 81 135);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(138 103 159);
  --sys-on-primary-container: rgb(255 255 255);
  --sys-secondary: rgb(88 63 0);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(146 111 35);
  --sys-on-secondary-container: rgb(255 255 255);
  --sys-tertiary: rgb(101 48 86);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(157 97 138);
  --sys-on-tertiary-container: rgb(255 255 255);
  --sys-error: rgb(108 47 65);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(167 95 114);
  --sys-on-error-container: rgb(255 255 255);
  --sys-background: rgb(255 247 252);
  --sys-on-background: rgb(30 26 32);
  --sys-surface: rgb(255 247 252);
  --sys-on-surface: rgb(30 26 32);
  --sys-surface-variant: rgb(234 223 234);
  --sys-on-surface-variant: rgb(71 65 73);
  --sys-outline: rgb(100 93 102);
  --sys-outline-variant: rgb(128 120 130);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(51 47 53);
  --sys-inverse-on-surface: rgb(247 238 246);
  --sys-inverse-primary: rgb(224 184 246);
  --sys-primary-fixed: rgb(138 103 159);
  --sys-on-primary-fixed: rgb(255 255 255);
  --sys-primary-fixed-dim: rgb(112 79 133);
  --sys-on-primary-fixed-variant: rgb(255 255 255);
  --sys-secondary-fixed: rgb(146 111 35);
  --sys-on-secondary-fixed: rgb(255 255 255);
  --sys-secondary-fixed-dim: rgb(118 87 9);
  --sys-on-secondary-fixed-variant: rgb(255 255 255);
  --sys-tertiary-fixed: rgb(157 97 138);
  --sys-on-tertiary-fixed: rgb(255 255 255);
  --sys-tertiary-fixed-dim: rgb(129 73 112);
  --sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --sys-surface-dim: rgb(224 215 223);
  --sys-surface-bright: rgb(255 247 252);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(250 241 249);
  --sys-surface-container: rgb(244 235 243);
  --sys-surface-container-high: rgb(238 230 237);
  --sys-surface-container-highest: rgb(233 224 232);
  --synth-pink-color: rgb(108 47 65);
  --synth-pink-on-color: rgb(255 255 255);
  --synth-pink-color-container: rgb(167 95 114);
  --synth-pink-on-color-container: rgb(255 255 255);
  --synth-purple-color: rgb(85 53 106);
  --synth-purple-on-color: rgb(255 255 255);
  --synth-purple-color-container: rgb(138 103 159);
  --synth-purple-on-color-container: rgb(255 255 255);
  --synth-yellow-color: rgb(88 63 0);
  --synth-yellow-on-color: rgb(255 255 255);
  --synth-yellow-color-container: rgb(146 111 35);
  --synth-yellow-on-color-container: rgb(255 255 255);
  --synth-violet-color: rgb(101 48 86);
  --synth-violet-on-color: rgb(255 255 255);
  --synth-violet-color-container: rgb(157 97 138);
  --synth-violet-on-color-container: rgb(255 255 255);
}
