.light-high-contrast.wave-theme {
  --sys-primary: rgb(50 19 71);
  --sys-surface-tint: rgb(114 81 135);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(85 53 106);
  --sys-on-primary-container: rgb(255 255 255);
  --sys-secondary: rgb(47 32 0);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(88 63 0);
  --sys-on-secondary-container: rgb(255 255 255);
  --sys-tertiary: rgb(62 15 51);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(101 48 86);
  --sys-on-tertiary-container: rgb(255 255 255);
  --sys-error: rgb(67 14 33);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(108 47 65);
  --sys-on-error-container: rgb(255 255 255);
  --sys-background: rgb(255 247 252);
  --sys-on-background: rgb(30 26 32);
  --sys-surface: rgb(255 247 252);
  --sys-on-surface: rgb(0 0 0);
  --sys-surface-variant: rgb(234 223 234);
  --sys-on-surface-variant: rgb(39 34 42);
  --sys-outline: rgb(71 65 73);
  --sys-outline-variant: rgb(71 65 73);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(51 47 53);
  --sys-inverse-on-surface: rgb(255 255 255);
  --sys-inverse-primary: rgb(249 230 255);
  --sys-primary-fixed: rgb(85 53 106);
  --sys-on-primary-fixed: rgb(255 255 255);
  --sys-primary-fixed-dim: rgb(61 31 82);
  --sys-on-primary-fixed-variant: rgb(255 255 255);
  --sys-secondary-fixed: rgb(88 63 0);
  --sys-on-secondary-fixed: rgb(255 255 255);
  --sys-secondary-fixed-dim: rgb(60 42 0);
  --sys-on-secondary-fixed-variant: rgb(255 255 255);
  --sys-tertiary-fixed: rgb(101 48 86);
  --sys-on-tertiary-fixed: rgb(255 255 255);
  --sys-tertiary-fixed-dim: rgb(75 26 63);
  --sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --sys-surface-dim: rgb(224 215 223);
  --sys-surface-bright: rgb(255 247 252);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(250 241 249);
  --sys-surface-container: rgb(244 235 243);
  --sys-surface-container-high: rgb(238 230 237);
  --sys-surface-container-highest: rgb(233 224 232);
  --synth-pink-color: rgb(67 14 33);
  --synth-pink-on-color: rgb(255 255 255);
  --synth-pink-color-container: rgb(108 47 65);
  --synth-pink-on-color-container: rgb(255 255 255);
  --synth-purple-color: rgb(50 19 71);
  --synth-purple-on-color: rgb(255 255 255);
  --synth-purple-color-container: rgb(85 53 106);
  --synth-purple-on-color-container: rgb(255 255 255);
  --synth-yellow-color: rgb(47 32 0);
  --synth-yellow-on-color: rgb(255 255 255);
  --synth-yellow-color-container: rgb(88 63 0);
  --synth-yellow-on-color-container: rgb(255 255 255);
  --synth-violet-color: rgb(62 15 51);
  --synth-violet-on-color: rgb(255 255 255);
  --synth-violet-color-container: rgb(101 48 86);
  --synth-violet-on-color-container: rgb(255 255 255);
}
