.light.wave-theme {
  --sys-primary: rgb(114 81 135);
  --sys-surface-tint: rgb(114 81 135);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(244 218 255);
  --sys-on-primary-container: rgb(43 12 63);
  --sys-secondary: rgb(121 89 12);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(255 222 163);
  --sys-on-secondary-container: rgb(38 25 0);
  --sys-tertiary: rgb(132 76 115);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(255 216 238);
  --sys-on-tertiary-container: rgb(54 7 44);
  --sys-error: rgb(141 74 92);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(255 217 224);
  --sys-on-error-container: rgb(58 7 26);
  --sys-background: rgb(255 247 252);
  --sys-on-background: rgb(30 26 32);
  --sys-surface: rgb(255 247 252);
  --sys-on-surface: rgb(30 26 32);
  --sys-surface-variant: rgb(234 223 234);
  --sys-on-surface-variant: rgb(75 69 77);
  --sys-outline: rgb(124 116 126);
  --sys-outline-variant: rgb(205 195 206);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(51 47 53);
  --sys-inverse-on-surface: rgb(247 238 246);
  --sys-inverse-primary: rgb(224 184 246);
  --sys-primary-fixed: rgb(244 218 255);
  --sys-on-primary-fixed: rgb(43 12 63);
  --sys-primary-fixed-dim: rgb(224 184 246);
  --sys-on-primary-fixed-variant: rgb(89 57 110);
  --sys-secondary-fixed: rgb(255 222 163);
  --sys-on-secondary-fixed: rgb(38 25 0);
  --sys-secondary-fixed-dim: rgb(235 192 108);
  --sys-on-secondary-fixed-variant: rgb(93 66 0);
  --sys-tertiary-fixed: rgb(255 216 238);
  --sys-on-tertiary-fixed: rgb(54 7 44);
  --sys-tertiary-fixed-dim: rgb(247 177 222);
  --sys-on-tertiary-fixed-variant: rgb(105 52 90);
  --sys-surface-dim: rgb(224 215 223);
  --sys-surface-bright: rgb(255 247 252);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(250 241 249);
  --sys-surface-container: rgb(244 235 243);
  --sys-surface-container-high: rgb(238 230 237);
  --sys-surface-container-highest: rgb(233 224 232);
  --synth-pink-color: rgb(141 74 92);
  --synth-pink-on-color: rgb(255 255 255);
  --synth-pink-color-container: rgb(255 217 224);
  --synth-pink-on-color-container: rgb(58 7 26);
  --synth-purple-color: rgb(114 81 135);
  --synth-purple-on-color: rgb(255 255 255);
  --synth-purple-color-container: rgb(244 218 255);
  --synth-purple-on-color-container: rgb(43 12 63);
  --synth-yellow-color: rgb(121 89 12);
  --synth-yellow-on-color: rgb(255 255 255);
  --synth-yellow-color-container: rgb(255 222 163);
  --synth-yellow-on-color-container: rgb(38 25 0);
  --synth-violet-color: rgb(132 76 115);
  --synth-violet-on-color: rgb(255 255 255);
  --synth-violet-color-container: rgb(255 216 238);
  --synth-violet-on-color-container: rgb(54 7 44);
}
