@use '@angular/material' as mat;
@use './styles/globals'; // Import global css variables.
@use './styles/densities'; // Custom densities for specific components in specific cases.
@use './styles/themes/purple-surf-process_theme-colors.scss' as purple-surf-process-theme-colors;
@use './styles/global-definitions';

// ! https://developer.mozilla.org/en-US/docs/Web/CSS/@page

html {
  // TODO: Decide what to do about this and consider loading it in the individual themes themselves.

  // TODO: Include these when using the older styles.
  // @include mat.elevation-classes();
  // @include mat.app-background();

  color-scheme: light;
  //color-scheme: light dark;
  @include mat.theme((
    color: (
      theme-type: light,
      //theme-type: color-scheme,
      primary: purple-surf-process-theme-colors.$primary-palette,
      tertiary: purple-surf-process-theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @media (prefers-contrast: more) {
    @include purple-surf-process-theme-colors.high-contrast-overrides(color-scheme);
  }
}

:root {
  interpolate-size: allow-keywords;

  @include mat.dialog-overrides((
    subhead-color: var(--mat-sys-primary),
  ));
}

.light-dark-backdrop {
  background: rgba(0,0,0,.32);
}

.no-outlet-backdrop {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  .light-dark-backdrop {
    background: rgba(0,0,0,.81);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.active {
  //@include mat.button-color(m3-theme.$dark-theme, $color-variant: tertiary);
}

.text {
  &--right-align {
    text-align: right;
  }
}

.multi-line-tooltip {
  white-space: pre-line;

  &.skip-line-wrap {
    white-space: pre;

    // Increase the size of the tooltip to fit the content.
    .mat-mdc-tooltip-surface {
      max-width: fit-content;
    }
  }
}

button.observation-behavior-button {
  $solid-button-border: light-dark(rgba(0,0,0,1), rgba(255,255,255,1));

  text-align: start;
  white-space: pre-line;

  padding: 2rem 1.25rem;
  max-width: 8rem;
  width: 8rem;
  min-height: 5rem;

  &:focus {
    border-color: $solid-button-border;
    outline: 2px solid $solid-button-border;
  }

  &:hover {
    cursor: pointer;
  }
}

.showTableOnHover {
  pointer-events: none;
}

// Print Settings.
// ? Add the .print-area class to an element.
// ? Add the .ignore-print class to an element to exclude it from printing.
//@media screen, print {
@media print {
  body, main, .sidenav-container {
    // Override variables so the background is #FFFFFF.
    --mat-sidenav-content-background-color: #FFFFFF;
    --mat-app-background: #FFFFFF;
    background-color: #FFFFFF;

    /* Used to allow printing to multiple pages automatically. */

    // TODO: This may need to be removed if we manually provide the page breaks.
    position: static !important;
    overflow: initial !important;
    margin: 0 !important;

    /* End printing page break settings. */
  }

  #main {
    height: 100vh;
  }

  #sidenav, #primary-toolbar,
  #clippy, .clippy-balloon,
  .ignore-print {
    display: none !important;
  }

  #sidenav-content {
    margin-left: 0 !important;
    display: block !important;
    padding: 0 !important;

    /* Used to allow printing to multiple pages automatically. */

    // TODO: This may need to be removed if we manually provide the page breaks.
    //position: relative !important;
    overflow: visible !important;
    //break-after: region !important;

    /* End printing page break settings. */
  }

  .print-area {
    display: block !important;
    padding: 0 !important;
  }
}
